.detailsImg {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .detailsImg {
    width: 100%;
  }
}

.ListPageImg {
  width: 100%;
  object-fit: contain;
}

.spinner{
  position: absolute;
  inset: 0;
  background-color: rgba(128, 128, 128, 0.493);
  display: flex;
  justify-content: center;
  align-items: center;
}