.detailsImg {
  width: 25%;
}

.np-mx-5{
  margin-left: 3rem;
}

@media screen and (max-width: 800px) {
  .detailsImg {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .detailsImg {
    width: 100%;
  }
  .np-d-flex{
    display: flex;
    flex-direction: column;
  }
  .np-mx-5{
    margin: 0;
    margin-top: 1rem;
  }
}

.ListPageImg {
  width: 100%;
  object-fit: contain;
}

.spinner{
  position: absolute;
  inset: 0;
  background-color: rgba(128, 128, 128, 0.493);
  display: flex;
  justify-content: center;
  align-items: center;
}